############################
# Python
############################

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
.env
.env.*
!.env.example

############################
# Jupyter
############################

.ipynb_checkpoints/
*.ipynb

############################
# Airflow
############################

airflow/logs/
airflow/__pycache__/
airflow/.airflowignore

############################
# Dados
############################

minio/data/
*.parquet
*.csv
*.zip

############################
# Docker
############################

*.log
docker-volumes/

############################
# VS Code
############################

.vscode/

############################
# Sistema operacional
############################

.DS_Store
Thumbs.db

############################
# DBT
############################

dbt/target/
dbt/logs/
dbt/profiles.yml